<h1 class="text-3xl text-white">Gestão de Clientes</h1>

<div class="flex flex-col gap-5 my-10">
    <% @users.each do |user| %>
        <div class="w-full bg-blue-900 p-7 rounded-xl text-white flex justify-between">
            <div class="flex">
                <p class="flex justify-center align-center"><%= user.name %> - <%= user.telephone %></p>
            </div>
            <div class="flex gap-5">
                <%= link_to "Editar", edit_user_path(user), class: "bg-blue-500 rounded-xl px-4 py-3" %>
                <%= button_to "Excluir", user, method: :delete, data: { confirm: "Tem certeza disso?" }, class: "bg-red-500 rounded-xl px-4 py-3" %>
            </div>
        </div>
    <% end %>
</div>

<div class="flex justify-center align-center">
    <a class="text-white px-5 py-4 bg-blue-700 rounded-xl" href="/create">Adicionar Cliente</a>
</div>

<footer class="h-24">
</footer>
